 <%- include('partials/_header') -%>
 <body>
  
  <%- include('partials/_navigation') -%>
 <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Article Detail</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">

  <div class="card mb-3">
  <img src="<%= article.image%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= article.title%></h5>
    <p class="card-text"><%= article.detail%></p>
    <p class="card-text"><small class="text-muted"><%= article.dateCreated%></small></p>
    <a href="/article/edit/<%=article._id%>" class="btn btn-primary" id="sendMessageButton">Edit</a>
    <a href="/article/<%=article._id%>?_method=DELETE" class="btn btn-danger" onclick = "return confirm('are you sure?')" id="sendMessageButton">Delete</a>
  </div>
</div>

   
  </div>

 
  <%- include('partials/_footer') %>
  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>
</body>
 </html>